# node_modules no debe subirse nunca
node_modules/
public/uploads/
public/storage/

# Archivo de variables de entorno
.env

# Archivos del sistema o del editor
.DS_Store
.vscode/
*.log
npm-debug.log*

# Sistema operativo Windows
Thumbs.db
tailwindcss.exe.exe
"*.exe" 
"*.exe~" 

#Tailwind CSS estilos generados
public/css/output.css
public/css/*.css